body{
  margin: 1%;
}

.App {
  text-align: center;
  margin: 1%;
}

.udacity {
  background-color: #26C6DA
}

.react {
  background-color: #B2DFDB
}

.redux {
  background-color: #B0BEC5
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
